<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" name="TravelToTheMoon">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!-- <PatternLayout pattern="%highlight{%sequenceNumber - %d{DATE} %-25marker [%t] %-5level %logger{1.}  [%line]- %enc{%msg}%n}{FATAL=white, ERROR=red, WARN=blue, INFO=black, DEBUG=green, TRACE=yellow}"/> -->
            <PatternLayout pattern="%highlight{%d | %-18marker [%-5level] %-27logger{1.}  [%line] - %enc{%msg}%n%throwable}{FATAL=white, ERROR=red, WARN=blue, INFO=black, DEBUG=green, TRACE=yellow}"/>
        </Console>
        <File name="MonitoringFile" fileName="logs/app.log" append="true" bufferedIO="true" bufferSize="8192">
            <PatternLayout>
                <Pattern>%highlight{%d | %-18marker [%-5level] %-27logger{1.}  [%line] - %enc{%msg}%n%throwable}{FATAL=white, ERROR=red, WARN=blue, INFO=black, DEBUG=green, TRACE=yellow}
                </Pattern>
            </PatternLayout>

        </File>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="MonitoringFile"/>
        </Root>
    </Loggers>
</Configuration>